<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Fast Store Control Panel - Login</title>
</head>

<body>
    <div class="d-flex flex-column vh-100 w-100 justify-content-center align-items-center">
        <form action="/login" method="post" class="d-flex flex-column w-50 h-75 p-5 gap-5 bg-dark text-white">
            <div class="d-flex justify-content-center">
                <h1>Login to Control Panel</h1>
            </div>
            <div class="d-flex flex-column gap-1">
                <%if(errors !== undefined) {%>
                    <p><%=errors%></p>
                <%}%>
                <label>Username</label>
                <input type="text" name="username" class="form-control">
            </div>

            <div class="d-flex flex-column gap-1">
                <label>Password</label>
                <input type="password" name="password" class="form-control">
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="w-25 btn btn-light">Login</button>
            </div>
        </form>
    </div>
</body>

</html>