<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register New User</title>
</head>
<body>
    <form style="display: flex; flex-direction: column;" action="/register" method="post">
        <div style="display: flex; flex-direction: column;">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>

        <div style="display: flex; flex-direction: column;">
            <label for="Password">Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>